body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
}

header, footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    
}

header {
    display: flex;
    font-size: 2.5rem;
   
    align-items: center;
   
    justify-content: space-between;
    padding-left: 20px; /* Match the padding of the container */
    padding-right: 20px;
}
header .Library .material-symbols-outlined {
    font-size: 2.5rem; 
    color: #F39C12; 
    margin-right: 10px; 
    align-self: center;
}
header .Library {
    
    display: flex;
    align-items: center;
    padding-left: 100px;
}




footer {
    background-color: #2C3E50; /* Background color for the footer */
    color: #ffffff; /* Text color for the footer */
    text-align: center; /* Center-align the text within the footer */
    padding: 10px 0; /* Padding for the footer */
   margin-top: 50px;
    bottom: 0; /* Align the footer to the bottom */
    width: 100%; /* Full width for the footer */
}



#overlay {
    display: none; /* Initially hidden */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 10; /* Layer it below the form */
}


#hiddenForm {
    background-color: #ECF0F1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;


 /* ... existing styles ... */
 position: fixed; /* Position it fixed */
 top: 50%; /* Center it vertically */
 left: 50%; /* Center it horizontally */
 transform: translate(-50%, -50%) scale(1.5); 
 z-index: 11; 
 display: none; /* Initially hidden */

 

}

#hiddenForm div {
    margin-bottom: 10px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
    color: #7F8C8D;
}

input[type="text"], input[type="number"] {
    width: 90%;
    padding: 8px; /* Adjusted padding */
    border-radius: 5px;
    border: 1px solid #BDC3C7;
    margin: 5px 0;
    font-size: 0.9em; /* Adjusted font size */

}

input[type="checkbox"] {
    margin-left: 10px;
    vertical-align: middle; /* eckbox */
   
        width: 15px;
        height: 15px;
        
      
}

input[type="submit"] {
    background-color: #27AE60;
    color: white;
    padding: 10px 20px; /* Adjusted padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em; /* Adjusted font size */
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #2ECC71;
}

#book-container {
      padding-left: 118px;
    width: 100%;
    display: grid;
    
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        
     gap: 20px;

}

.book-card {
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    width: 300px; 
    height: 150px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space */
    transform: scale(1.1);
   
}

.add-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
   
  
   
   font-size: 2rem; /* Adjust the font size */
   font-weight: bold; /* Make the text bold */
   margin-bottom: 10px; /* Space between the label and the book cards */
  margin-top:20px ;
   color: #2C3E50; /* Adjust the color */
display: flex;
justify-content: flex-start;
padding-left: 100px;
} 

.book-card:hover {
    box-shadow: 0px 6px 12px rgba(8, 51, 240, 0.1); /* Slightly larger shadow on hover */
}

.book-card button {
    padding: 10px 15px; /* Padding within the button */
    margin-top: 10px; /* Space above the button */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Cursor effect for the button */
    font-size: 16px; /* Font size for the text within the button */
}

/* Style for the delete button */
.book-card button {
    padding: 10px 15px; /* Padding within the button */
    margin-top: 10px; /* Space above the button */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Cursor effect for the button */
    font-size: 16px; /* Font size for the text within the button */
}

/* Style for the delete button */
.book-card .delete-button {
    background-color: #e74c3c; /* Red background for delete button */
    color: #ffffff; /* White text for delete button */
}

/* Style for the read/unread button */
.book-card .read-button {
    background-color: #2ecc71; /* Green background for read button */
    color: #ffffff; /* White text for read button */
}

/* Hover effect for the buttons */
.book-card button:hover {
    opacity: 0.9; /* Slightly reduce opacity on hover */
}







button {
    padding: 8px 16px; /* Adjusted padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em; /* Adjusted font size */
    margin: 5px;
    width: 100px; /* Set a fixed width */
}

button:hover {
    opacity: 0.9;
}

#new-book {
    background-color: #3498DB;
    color: white;
    margin-top: 20px;
    font-size: 1.3rem;
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
width: 180px;
border-radius: 50px;
margin-top: 20px;


    
}



#new-book:hover {
    background-color: #2980B9;
}

.delete-button {
    background-color: #E74C3C;
    color: white;
}

.delete-button:hover {
    background-color: #C0392B;
}
/* Style for the read button */
.book-card .read-button {
    background-color: #27AE60; /* Green background for read button */
    color: #ffffff; /* White text for read button */
}

/* Style for the unread button */
.book-card .unread-button {
    background-color: #F39C12; /* Orange background for unread button */
    color: #ffffff; /* White text for unread button */
}

/* Hover effect for the read button */
.book-card .read-button:hover {
    background-color: #2ECC71; /* Darker green on hover for read button */
}

/* Hover effect for the unread button */
.book-card .unread-button:hover {
    background-color: #D35400; /* Darker orange on hover for unread button */
}

.readButton {
    background-color: #F39C12;
    color: white;
}

.readButton:hover {
    background-color: #D35400;
}

.button-container {
    display: flex;
    justify-content: space-around;
     width: 100%; 
   
}



.checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 5px; 
}
.container {
    max-width: 1200px; 
    margin-right: auto;
    padding-left: 20px; /* space on the left */
    padding-right: 20px; /* space on the right */
}
.book-card .button-container {
    display: flex;
    
    align-items: center; 
}
